<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e6e9c3">  <td>21/01/27 21:56:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSetup.baseSetup()[pri:0, instance:test.TestGumtree@61832929]">&gt;&gt;baseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>21/01/27 21:56:40</td>   <td>2741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGumtree.test_verify_send_message_to_seller(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test.TestGumtree@61832929]">test_verify_send_message_to_seller</td> 
  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>21/01/27 21:56:56</td>   <td>18290</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseSetup.afterClass()[pri:0, instance:test.TestGumtree@61832929]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
</table>
